{% extends 'base.html' %}
{% load static %}
{% block content %}
              <hr class="featurette-divider">
<div class="hero-container container">
    <main class="container">
                {% for profiles in profileemployee %}
      <div class="row">
        <div class="col-md-10">
          <div class="row g-0 rounded overflow-hidden flex-md-row mb-4">
            <div class="col p-4 flex-column call_to-btn" style="border-radius: 10px 10px">
                <div class="row">
                    <a class="featurette-heading fw-normal lh-1">Псевдоним {{ profiles.name }}
                        <a class="text-muted">Email {{ profiles.user }}</a></a>
                </div>
                <hr class="featurette-divider">
              <p class="card-text mb-auto">{{ profiles.description|safe|truncatechars:150 }}</p>
                <div class="row">
               <a href="{% url 'ProfileEmployeeDetail' pk=profiles.pk %}" class="call_to-btn btn_white-border">Посмотреть анкету</a>
                    <a href="#" class="call_to-btn">Continue reading</a>
                    <a href="#" class="call_to-btn">Continue reading</a>
                </div>
            </div>
            <div class="col-auto d-lg-block">
                <img src="{{ profiles.image.url }}" width="200" height="200" style="border-radius: 10px 10px">
            </div>
          </div>
        </div>
      </div>
                {% endfor %}
    </main>
</div>
{% endblock %}

